
.title {
    color:rgb(0, 0, 0);
    text-align: center;
    color: rgb(66, 29, 18);
}

#schedule{
    display: block;
    
}
.menu-images{
    display: flex;
    justify-content: center;
}
.menu-items{
    display: block;
    width: 50%;
    border-radius: 10px;
    
}
.menu-item li{
    margin: auto;
    width: 60%;
    color: rgba(0, 0, 0, 0.733);
    padding: 10px;
}
.menu-item ul{
    border-radius: 20px;
    padding: 20px;
}



#menu {
    text-align: center;
    padding: 10px;
}
#menu a{
    font-size: large;
    padding: 5px 10px;
    margin: 10px;
    background-color: rgb(107, 143, 99);
    border-radius: 10px;
    color: aliceblue;
}

#main{
    background-color: rgba(236, 226, 218, 0.774);
    /*text-align: center;*/
    margin: 0% 10%;
    border-radius: 5px;
    padding: 20px;
}
.sub_main{
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.548);
    display: flex;
    padding: 20px;
    margin: 10px;
    align-content: flex-start;
}


.block_img{
    width: 500px;
    height: auto;
    position: relative;
    
}
.part1{
    display: block;
}
.part1 img{
    width: 500px;
    height: 200px;
    border-radius: 20px;
}

.part2{
    padding: 10px;
    display: block;
}
.img{
    width: 200px;
    height: auto;
}

.block_img{
    width: 500px;
    height: auto;
    position: relative;
    
}
.partA img{
    width: 500px;
    height: 200px;
    border-radius: 20px;
}

}
/*Animation*/
@keyframes nav-hover{
    from {background-color: lightskyblue;}
    to {background-color: white;}

}
/*     2nd style sheet     */
div ul{
    text-align: center;
    list-style-type: none;
    background-color: rgb(255, 212, 187);
    padding: 0 ;
    margin: 0;
}
.nav ul{
    list-style-type: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(255, 227, 188);
    text-align: right;
    border-radius: 10px;
    
}


ul h2{
    text-align: center;
      font-family: 'Times New Roman', Times, serif;
    /*background-color: rgb(168, 120, 120);*/
  
    border-bottom: 2px solid rgba(0, 0, 0, 0.432);
    border-radius: 10px;
    
}

#brunch{
    border-radius: 10px;
}

#map iframe{
    border-radius: 10px;
    width: 80%;
    margin: 10px 10%;
    height: 400px;

}
.features
{
    font-size: xx-large;
}
.general-text{

}