
h1 {
    color:rgb(0, 0, 0);
    text-align: center;
    color: rgb(66, 29, 18);
}
#nav{
    background-color: lightsalmon;
    text-align: center;
    padding: 6px;
    border-radius: 5px;

    /*
    border-color: black;
    border-width: 2px;
    border-style: solid;
    */
}
#nav a{
    margin-right: 30px;
    padding: 5px;
    color: black;
    border-style: solid;
    border-width: 0px 2px 0px 2px;
    border-color: darkblue transparent 50%;
    
}

#nav a:hover{
    background-color: aqua;
    animation-name: nav-hover;
    animation-duration: .2s;
    background-color: white;
}

#main{
    background-color: rgba(73, 43, 22, 0.774);
    text-align: center;
    margin: 0% 10%;
    border-radius: 15px;

}
.sub_main{
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.548);
}
.sub_main p{
    padding: 5px;
}
#footer{
    background-color: lightcoral;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    color: white;
}
#footer a{
    margin-right: 30px;
    padding: 5px;
    color: white;
}
#footer a:hover{
    background-color: aliceblue;
    color: black;
    
}
/*Animation*/
@keyframes nav-hover{
    from {background-color: lightskyblue;}
    to {background-color: white;}

}